<label>first name</label>
<select>
    <option>mpc</option>
    <option>bipc</option>
    <option>cec</option>

</select><br/>
<input type="radio"/>html<br/>
<input type="radio"/>css<br/>
<input type="checkbox"/>js<br/>
<input type="radio" name="gender"/>MALE
<input type="radio" name="gender"/>FEMALE
<input type="radio" name="gender"/>OTHERS<br>
<input type="file"/><br>
<input type="button" value="save"/><br><br>
<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">go to email</a>


